.add-form {
  position: absolute;
  background-color: #00DEAD;
  right: 80%;
  top: 110%;
  width: 400px;
  z-index: 5;
  border-radius: 5px;
  padding: 1em;
}

.form-input {
  display: flex;
  justify-content: space-between;
  margin: 1em 2em;
  color: white;
  font-size: 18px;
}

.form-input input {
  color: #5c5c5c;
  border-radius: 5px;
  border: none;
  height: 20px;
  width: 50%;
  padding: 3px 15px;
}

.add-btn:disabled {
  color: grey;
}

.add-btn {
  align-self: center;
  border: none;
  background-color: white;
  margin: 0 auto;
  width: 100px;
  height: 30px;
  border-radius: 5px;
  color: #00DEAD;
  cursor: pointer;
}
