.flex-container-table {
  position: relative;
  margin: 60px auto 0 auto;
  display: flex;
  max-width: 1300px;
  align-items: center;
  font-family: 'Roboto', sans-serif;
}

table {
  width: 75%;
  margin: 0 auto;
  border-collapse: collapse;
}

thead th {
  padding: 25px 0;
  font-size: 18px;
  font-weight: 400;
  color: #CECECE;
  font-weight: 300;
}

tbody tr {
  border-bottom: 1px solid #ECECEC;
}

tbody tr:last-child {
  border-bottom: none;
}

td {
  padding: 30px;
  font-size: 18px;
  color: #5C5C5C;
}
