.flex-container-table {
  position: relative;
  margin: 60px auto 60px auto;
  display: flex;
  max-width: 1300px;
  align-items: center;
}

table {
  width: 75%;
  margin: 0 auto;
  border-collapse: collapse;
}

thead {
  border-bottom: 1px solid #E8EAED;
}

thead th {
  padding: 30px 0;
  font-weight: 600;
  text-align: left;
  font-size: 1rem;
  color: #5B6FFD;
}

tbody tr:last-child {
  border-bottom: none;
}

td {
  font-size: 16px;
  color: #5C5C5C;
  padding-top: 50px;
}
