.content-header {
    height: 675px;
    background-color: #94A1F9;
    color: white;
    position: relative;
    overflow: hidden;
}

.landing-flex-container {
    z-index: 99999;
    display: flex;
    align-items: center;
    width: 100%;
    margin: 0 auto;
    max-width: 1040px;
    padding-top: 50px;
}

.space-between {
    justify-content: space-between;
}

.space-around {
    justify-content: space-around;
}

.content-header nav ul {
    display: flex;
    justify-content: space-between;
}

.content-header nav ul li {
    font-size: .8rem;
    list-style-type: none;
    padding: 0 30px;
    font-weight: 300;
}

.content-header nav ul li a {
    text-decoration: none;
    color: white;
}

.content-header nav ul li:first-child {
    font-weight: 400;
}

.content-header .main-logo {
    font-size: 1.2rem;
    font-weight: 500;
}

#header-text {
    flex-direction: column;
    font-weight: 300;
}

#header-text h1 {
    font-weight: 300;
    font-size: 36px;
    letter-spacing: .08rem;
    margin: 100px 0 0 0;
}

#header-text p {
    font-size: 1.2rem;
    text-align: center;
    max-width: 700px;
    line-height: 2.2rem;
}

.button-started {
    margin-top: 20px;
    border: 0;
    padding: 0;
    color: white;
    padding: 15px 25px;
    border-radius: 5px;
    background-color: #8392FB;
    box-shadow: 5px 6px 8px 0 rgba(44, 46, 47, .2);
    cursor: pointer;
}

.button-started-card {
    margin-top: 60px;
    border: 0;
    padding: 0;
    color: white;
    padding: 15px 25px;
    border-radius: 5px;
    background-color: #b0b7b5;
    box-shadow: 5px 6px 8px 0 rgba(44, 46, 47, .2);
    cursor: pointer;
    transition: background-color .2s ease-in;
}

.button-started:focus {
    outline: 0;
}

.button-started-card:focus {
    outline: 0;
}

.forward {
    z-index: 10;
}

#boxes {
    width: 100%;
    height: 100%;
    transform-origin: 0;
    transform: skewY(-45deg);
    z-index: 1;
}

#boxes span {
    position: absolute;
}

#boxes :nth-child(1) {
    width: 83%;
    height: 80%;
    left: 30%;
    top: 180%;
    background: linear-gradient(50deg,rgba(184, 193, 255, .5) -15%,rgba(131, 146,251, .5) 120%);
}

#boxes :nth-child(2) {
    width: 100%;
    height: 70%;
    left: 5%;
    top: 60%;
    background: linear-gradient(180deg,rgba(184, 193, 255, .1) -10%,rgba(131, 146,251, .1) 90%);
}

.basic-margin-top {
    margin-top: 150px;
}

.info-section {
    width: 50%;
}

.align-right {
    text-align: right;
}

.header-basic {
    font-weight: 400;
    color: #242B2A;
    font-size: 1.5rem;
}

.paragraph-basic {
    font-weight: 300;
    color: #919896;
    font-size: 1.15rem;
    line-height: 2rem;
}

.bots {
    background-color: #FAFBFF;
    margin-top: 150px;
}

.bots-flex-container {
    z-index: 99999;
    display: flex;
    align-items: center;
    width: 100%;
    margin: 0 auto;
    max-width: 1040px;
    padding: 150px 0;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.bots-flex-container h3 {
    font-weight: 400;
    color: #242B2A;
    font-size: 1.5rem;
}

.bots-secondary-text {
    font-weight: 300;
    color: #919896;
    font-size: .9rem;
    line-height: 1.5rem;
}

.bot-card {
    height: 350px;
    width: 25%;
    padding: 30px;
    background-color: white;
    border: 2px solid #b0b7b5;
    border-radius: 8px;
    transition: border-color .3s ease-in;
}

.bot-card:hover {
    border-color: #8392FB;
}

.bot-card:hover .button-started-card {
    background-color: #8392FB;
}

.bots-card-header {
    font-weight: 400;
    color: #242B2A;
    font-size: 1.25rem;
}