.flex-container-not-found {
    margin: 100px auto 0 auto;
    display: flex;
    max-width: 1300px;
    font-family: 'Roboto', sans-serif;
    padding: 0 100px;
    flex-direction: column;
    align-items: center;
}

.throw-table {
  font-size: 2.5em;
  color: #5C5C5C;
}

.not-found-header {
  font-weight: 300;
  font-size: 36px;
  color: #5C5C5C;
}