.nav-login-flex-container {
    z-index: 99999;
    display: flex;
    width: 100%;
    margin: 0 auto;
    max-width: 1040px;
    padding-top: 50px;
}

.nav-login-flex-container h1 {
    font-size: 1rem;
    font-weight: 500;
    color: #B0B7B5;
}

.login-container {
  height: 80vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.login-form {
  width: 25%;
}

.login-btn {
  cursor: pointer;
  display: inline-block;
  margin: 25px auto;
  background: #8392FB;
  border-radius: 5px;
  font-size: 14px;
  color: #fff;
  padding: 15px 30px;
  outline: 0;
  border: none;
  letter-spacing: .08em;
  transition: box-shadow 0.2s ease-in;
}

.login-btn:hover {
    box-shadow: 5px 5px 5px 0px rgba(0,0,0,.1);
}

.login-btn:disabled {
  background-color: grey;
}
