.deadlines-container {
  background-color: #fff;
  width: 80%;
  margin: 90px auto 0px auto;
  padding: 30px 60px;
}

.site-header {
  font-weight: 700;
  font-size: 20px;
  color: #2D2C38;
  margin: 70px 0 0 80px;
}

.deadlines-wrapper {
  margin-top: 70px;
}
