body {
  -webkit-font-smoothing: antialiased;
}

.flex-container-dashboard {
    margin: 100px auto 0 auto;
    display: flex;
    max-width: 1300px;
    font-family: 'Roboto', sans-serif;
    padding: 0 100px;
}

.deadlines-list{
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #ececec;
}

.not-found {
  flex-direction: column;
  align-items: center;
}

.site-header {
  font-weight: 300;
  font-size: 36px;
  color: #5C5C5C;
}
