.nav-header {
  background-color: #fff;
  height: 100%;
}

.nav-flex-container {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.nav-list {
  list-style-type: none;
  padding: 0;
  text-align: center;
}

.nav-list li a {
  margin-top: 20px;
  display: flex;
  text-decoration: none;
  color: black;
}

.nav-list li img {
    height: 18px;
    margin: 0 30px;
}

.signout {
  display: flex;
  flex-direction: column;
  text-align: center;
  font-size: .7rem;
  letter-spacing: .04rem;
  cursor: pointer;
  margin-bottom: 20px;
}
