.nav-header {
  background-color: #fff;
  height: 100%;
  position: relative;
  box-shadow: 0 3px 6px rgba(0, 0, 0, .16);
}

.nav-flex-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.nav-list {
  list-style-type: none;
  padding: 0;
}

.nav-list li {
  text-align: left;
  margin-top: 2rem;
}

.nav-list li a {
  text-decoration: none;
  font-size: 1rem;
  font-weight: 600;
  color: #686871;
}

.nav-list li .active {
  font-weight: 700;
  color: #2D2C38;
}

.nav-list li .active::before {
  content: '';
  position: absolute;
  height: 26px;
  width: 5px;
  background: #5B6FFD;
  left: 0;
}

#nav-logo {
  text-align: center;
}

#nav-logo img {
  height: 48px;
}
