.deadline-container {
    margin-top: 100px;
}

.flex-deadline {
    display: flex;
    max-width: 1300px;
    font-family: 'Roboto', sans-serif;
}

.update-ok {
    color: #5C5C5C;
    display: inline-block;
    font-size: 25px;
}

.status-message-container {
    height: 20px;
    width: 60%;
    max-width: 1300px;
    margin: 0 auto;
    text-align: center;
}

.flex-container-deadline {
    margin: 60px auto 0 auto;
    width: 60%;
    padding: 0 100px;
    flex-wrap: wrap;
    justify-content: space-between;
}

.flex-container-deadline .text-input-wrapper {
    flex: 0 0 30%;
}

.flex-container-header {
    margin: 0 auto;
    border-bottom: 1px solid #ececec;
}

.header-deadline {
    padding-left: 5%;
    font-weight: 300;
    font-size: 36px;
    color: #5C5C5C;
    align-items: center;
}

.deadline-property {
    margin: 2em 0 0 0;
    flex: 0 0 30%
}

.deadline-property label {
    font-weight: 300;
    color: #5C5C5C;
    display: block;
    margin-bottom: 10px;
}

.deadline-btn {
    cursor: pointer;
    display: inline-block;
    margin-top: 2em;
    background: #00DEAD;
    border-radius: 5px;
    height: 50px;
    font-size: 14px;
    color: #fff;
    padding: 0 30px;
    outline: 0;
    border: none;
    transition: box-shadow 0.2s ease-in;
}

.deadline-btn:hover {
    box-shadow: 5px 5px 5px 0px rgba(0,0,0,.1);
}

.working {
    color: #00DEAD;
}

.closed {
    color: #FF5252;
}